﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
    <head>
        <title>Navigation bar DEMO</title>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a asp-controller="home" asp-action="index">Головна</a></li>
                    <li><a asp-controller="home" asp-action="page1">Сторінка 1</a></li>
                    <li><a asp-controller="home" asp-action="page2">Сторінка 2</a></li>
                </ul>
            </nav>
        </header>
        <div>
            <h1>@RenderBody()</h1> 
        </div>
    </body>
</html>
       